VITE_SUPABASE_URL=https://xyacwuwpcqslsearscsn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5YWN3dXdwY3FzbHNlYXJzY3NuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5MDkxMDEsImV4cCI6MjEwNTQ4NTEwMX0.rQOs935Rzo02Lz4jI2T1g31sa1vaSqh8PJSBLKFalaI